<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glide.Xamarin" version="3.7.0" targetFramework="monoandroid41" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid41" />
</packages>